{% extends 'gestion/index/menu_index.html' %}

{% load static %} 

{% block title %} Registro | {% endblock %}

{% block menu_index %}
        
        <main>
        <div class="main-login">
            <div class="div-login">
                <h2>Registro de usuario</h2>
                <form id="formRegistro" method="POST">
                    {% csrf_token %} <!--formulario seguro-->
                    <div class="modal-body">
                        {{form.as_p}}
                    </div>
                    <div>
                        <button type="submit" class="btn btn-primary mt-3">Registrar</button>
                    </div>
                </form>
            </div>
        </div>
    </main>

{% endblock menu_index %}