{% extends 'gestion/base.html' %}

{% load static %} 

{% block title %} Menu usuario | {% endblock %}

{% block content %}

    {% if user.is_authenticated and not user.is_staff%}
        <header>
            <nav class="navbar navbar-expand-lg color-nav">
                <div class="container-fluid">
                    <a class="color-nav navbar-brand">{% block title_nav %}  {% endblock %}</a>
                    <button class="color-nav navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span>
                        <i class="fa-solid fa-bars"></i>
                    </span>
                    </button>
                    <div class="collapse navbar-collapse " id="navbarNavAltMarkup">
                        <div class="navbar-nav">
                            <a class="nav-link color-nav" href="{% url 'envio-dinero' usuario.pk %}">Envío de Dinero</a>
                            <a class="nav-link color-nav" href="{% url 'deposito' usuario.pk %}">Depósitos</a>
                            <a class="nav-link color-nav" href="{% url 'transacciones-cliente' usuario.pk %}">Movimientos</a>
                            <a class="nav-link color-nav" href="{% url 'dashboard-cliente' %}">
                                <i class="fa-solid fa-outdent"></i>
                                Dashboard
                            </a>
                            <form method="post" action="{% url 'logout' %}">
                                {% csrf_token %}
                                <button class="color-nav nav-link" type="submit">
                                    <i class="fa-solid fa-right-from-bracket"></i>
                                    Cerrar Sesión
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </nav>
        </header>
        <main>
            {% block menu_user %}
            {% endblock menu_user %}
        </main>
        <footer>
            <p>2026 Alke Wallet</p>
        </footer>
    {% endif %}

{% endblock content %}