{% extends 'gestion/index/menu_index.html' %}

{% load static %} 

{% block title %} Inicio | {% endblock %}

{% block menu_index %}
        
        <section id="infoIndex">
            <div>
                <h1>Alke Wallet: Finanzas simples y seguras.</h1>
            </div>
            <div>
                <p>Una billetera digital rápida, inteligente y diseñada para darte el control absoluto de tus transacciones desde un solo lugar.</p>
            </div>
            <div>
                <p>La solución digital que simplifica tus finanzas diarias. Transforma la manera en que manejas tu dinero con una billetera inteligente, rápida y segura, diseñada para darte el control total de tus transacciones. Envía, recibe y administra tus fondos al instante y sin fronteras desde cualquier dispositivo.</p>
            </div>
        </section>

{% endblock menu_index %}